
<header>
    <!-- ^ navbar -->
    <nav class="navbar navbar-expand-lg bg-white my-3">
        <div class="container">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                <img src="~/images/logo.jpg" alt="" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto mb-2 mb-lg-0 mt-3 mt-lg-0">
                    <li class="nav-item">
                    <li class="nav-item">
                        <a class="nav-link active px-3 py-2 mx-2 fw-bolder fs-5" aria-current="page"
                           asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  px-3 py-2 mx-2 fw-bolder fs-5" aria-current="page" asp-controller="Member" asp-action="Index">Members</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  px-3 py-2 mx-2 fw-bolder fs-5" aria-current="page" asp-controller="Trainer" asp-action="Index">Trainers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  px-3 py-2 mx-2 fw-bolder fs-5" aria-current="page" asp-controller="Session" asp-action="Index">Sessions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  px-3 py-2 mx-2 fw-bolder fs-5" aria-current="page" asp-controller="Plan" asp-action="Index">Plans</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  px-3 py-2 mx-2 fw-bolder fs-5" aria-current="page"
                           asp-controller="Membership" asp-action="Index">Memberships</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  px-3 py-2 mx-2 fw-bolder fs-5" aria-current="page" asp-controller="Sessions Schedule" asp-action="Index">
                            Sessions
                            Schedule
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</header> 